{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "max-empty-lines": 2,
    "block-closing-brace-newline-before": null,
    "rule-empty-line-before": null,
    "declaration-empty-line-before": "never",
    "block-no-empty": null,
    "no-descending-specificity": null
  }
}
